EXPO_PUBLIC_API_URL=http://localhost:4000/api/v1
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_EAS_PROJECT_ID=your-eas-project-id
EXPO_PUBLIC_APPODEAL_APP_KEY=your-appodeal-app-key
EXPO_PUBLIC_APPODEAL_TEST_MODE=true
EXPO_PUBLIC_YANDEX_AD_UNIT_ID=your-yandex-rewarded-unit-id
EXPO_PUBLIC_YANDEX_TEST_MODE=true
